.home {
  	width: 100%;
  	height: 984px;
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	background-color: #fff;
  	overflow: hidden;
  	text-align: left;
  	font-size: 48px;
  	color: #450a0a;
  	font-family: 'Lilita One';
}
.img-2034-1-icon {
  	position: absolute;
  	top: -536px;
  	left: calc(50% - 804.5px);
  	width: 1618px;
  	height: 2158px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.home-child {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	background-color: #db9e9e;
  	height: 157px;
  	flex-shrink: 0;
}
.mel-collins {
  	position: absolute;
  	top: 12px;
  	left: calc(50% - 287.5px);
  	font-size: 120px;
  	font-family: 'New Rocker';
  	display: inline-block;
  	width: 576px;
  	height: 132px;
  	flex-shrink: 0;
}
.home-item {
  	position: absolute;
  	width: 100%;
  	top: 157px;
  	right: 0px;
  	left: 0px;
  	background-color: #af3d3d;
  	height: 76px;
  	flex-shrink: 0;
}
.summary {
  	position: absolute;
  	top: 165px;
  	left: calc(50% + 400.5px);
  	display: inline-block;
  	width: 420px;
  	height: 98px;
  	flex-shrink: 0;
}
.about-me {
  	position: absolute;
  	top: 165px;
  	left: calc(50% - 325.5px);
  	display: inline-block;
  	width: 420px;
  	height: 98px;
  	flex-shrink: 0;
}
.home2 {
  	position: absolute;
  	top: 165px;
  	left: calc(50% - 609.5px);
  	display: inline-block;
  	width: 420px;
  	height: 98px;
  	flex-shrink: 0;
}
.my-projects {
  	position: absolute;
  	top: 165px;
  	left: calc(50% + 20.5px);
  	display: inline-block;
  	width: 268px;
  	height: 124px;
  	flex-shrink: 0;
}
.welcome {
  	position: absolute;
  	top: 263px;
  	left: calc(50% - 361.5px);
  	font-size: 175px;
  	font-family: 'New Rocker';
  	color: #ee8181;
  	display: inline-block;
  	width: 724px;
  	height: 180px;
  	flex-shrink: 0;
}
.hi-im-mel {
  	position: absolute;
  	top: 506px;
  	left: calc(50% - 609.5px);
  	font-size: 40px;
  	color: #f4cece;
  	display: inline-block;
  	width: 1220px;
  	flex-shrink: 0;
}


